body{
    display: flex;
    justify-content: center;
    background-color: lightpink;
}
h1{
    font-family: "Poppins",sans-serif;
    color:palevioletred ;
}
.header{
    color: white;
    display: flex;
    
}
.container{
    background-color: white;
    margin-top: 200px;
    padding: 20px 20px 50px 20px;
    border-radius: 12px 12px;
    box-shadow: 15px 12px palevioletred;
    
}
.generate{
    background-color: palevioletred;
    width: 20vw;
    padding: 10px 10px 10px 10px;
    border-radius: 1px 17px 17px 17px;
    color: white;
    font-family: "Poppins",sans-serif;
    border: solid 5px lightpink;
    font-weight: 500;
}
.generate:hover{
    background-color: lightpink;
    color:palevioletred;
}
.generated{
    background-color: lightpink;
    color:palevioletred;
    margin-top: 30px;
    padding: 10px 10px 10px 10px;
    border-radius: 17px 17px 17px 17px;
    color: white;
    font-family: "Poppins",sans-serif;
    border: solid 5px lightpink;
    font-weight: 500;
}